.time{
  y: 50%-40-70;
}
.week{
  y: 50%-40-70-5-25;
}
.ampm{
  y: 50%-40-70-5-25;
}
.date{
  y: 50%-25+5;
}



#healthBlock{
  width: 100%-20;
  x:10;
  y: 100%-135;
}

.border{
  x:0;
  y:0;
  width:100%;
  height:100%;
  href: "images/border.png";
  fill: black;
}